* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/acs.jsp -text
WebContent/admin/add_alternate_domain.jsp -text
WebContent/admin/bind_affiliation.jsp -text
WebContent/admin/bind_organization.jsp -text
WebContent/admin/index.jsp -text
WebContent/admin/organization.jsp -text
WebContent/admin/organizations.jsp -text
WebContent/admin/submit_affiliation.jsp -text
WebContent/admin/submit_organization.jsp -text
WebContent/admin/unaffiliated_users.jsp -text
WebContent/admin/unbound_organizations.jsp -text
WebContent/admin/unregistered_citizens.jsp -text
WebContent/admin/update_email_domain.jsp -text
WebContent/admin/user.jsp -text
WebContent/attrs.jsp -text
WebContent/authenticate/dua_check.jsp -text
WebContent/authenticate/index.jsp -text
WebContent/authenticate/una_check.jsp -text
WebContent/citizen-scientist/index.jsp -text
WebContent/dologin.jsp -text
WebContent/dologout.jsp -text
WebContent/email/citizen_pending.jsp -text
WebContent/email/dua_pending.jsp -text
WebContent/email/in_process.jsp -text
WebContent/email/problem_resolution.jsp -text
WebContent/email/send.jsp -text
WebContent/fake_register.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/logout.jsp -text
WebContent/metadata.jsp -text
WebContent/navbar.jsp -text
WebContent/profile.jsp -text
WebContent/register.jsp -text
WebContent/register/index.jsp -text
WebContent/register/session.jsp -text
WebContent/register/submit.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/anime.min.js -text
WebContent/resources/auth.js -text
WebContent/resources/bootstrap/css/bootstrap-grid.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.css -text
WebContent/resources/bootstrap/css/bootstrap.css.map -text
WebContent/resources/bootstrap/css/bootstrap.min.css -text
WebContent/resources/bootstrap/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.js -text
WebContent/resources/bootstrap/js/bootstrap.js.map -text
WebContent/resources/bootstrap/js/bootstrap.min.js -text
WebContent/resources/bootstrap/js/bootstrap.min.js.map -text
WebContent/resources/bootstrap4/.DS_Store -text
WebContent/resources/bootstrap4/css/bootstrap-grid.css -text
WebContent/resources/bootstrap4/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-grid.rtl.css -text
WebContent/resources/bootstrap4/css/bootstrap-grid.rtl.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-grid.rtl.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-grid.rtl.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.rtl.css -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.rtl.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.rtl.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-reboot.rtl.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.css -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.rtl.css -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.rtl.css.map -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.rtl.min.css -text
WebContent/resources/bootstrap4/css/bootstrap-utilities.rtl.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap.css -text
WebContent/resources/bootstrap4/css/bootstrap.css.map -text
WebContent/resources/bootstrap4/css/bootstrap.min.css -text
WebContent/resources/bootstrap4/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap4/css/bootstrap.rtl.css -text
WebContent/resources/bootstrap4/css/bootstrap.rtl.css.map -text
WebContent/resources/bootstrap4/css/bootstrap.rtl.min.css -text
WebContent/resources/bootstrap4/css/bootstrap.rtl.min.css.map -text
WebContent/resources/bootstrap4/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap4/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap4/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap4/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap4/js/bootstrap.esm.js -text
WebContent/resources/bootstrap4/js/bootstrap.esm.js.map -text
WebContent/resources/bootstrap4/js/bootstrap.esm.min.js -text
WebContent/resources/bootstrap4/js/bootstrap.esm.min.js.map -text
WebContent/resources/bootstrap4/js/bootstrap.js -text
WebContent/resources/bootstrap4/js/bootstrap.js.map -text
WebContent/resources/bootstrap4/js/bootstrap.min.js -text
WebContent/resources/bootstrap4/js/bootstrap.min.js.map -text
WebContent/resources/d3-scale-radial.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.hive.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/dash_style.css -text
WebContent/resources/dashboard_style.css -text
WebContent/resources/images/logo.png -text
WebContent/resources/jquery-colorize.js -text
WebContent/resources/jquery.hottie.js -text
WebContent/resources/main_style.css -text
WebContent/resources/map_data/counties~ -text
WebContent/resources/map_data/gz_2010_us_040_00_20m.json -text
WebContent/resources/map_data/gz_2010_us_040_00_500k.json -text
WebContent/resources/map_data/gz_2010_us_040_00_5m.json -text
WebContent/resources/map_data/gz_2010_us_050_00_20m.json -text
WebContent/resources/map_data/gz_2010_us_050_00_500k.json -text
WebContent/resources/map_data/gz_2010_us_050_00_5m.json -text
WebContent/resources/n3c_login_style.css -text
WebContent/resources/select2/select2.js -text
WebContent/resources/select2/select2.min.css -text
WebContent/resources/select2/select2.min.js -text
WebContent/resources/select2/select2_search.js -text
WebContent/resources/select2_search.js -text
WebContent/resources/slider.min.js -text
WebContent/resources/tableToExcel.js -text
WebContent/resources/topojson.js -text
WebContent/session.jsp -text
WebContent/sls.jsp -text
WebContent/submit_registration.jsp -text
/pom.xml -text
